[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pandas = "*"
pyqtdarktheme = "*"
requests = "*"
dotenv = "*"
dnd-app-lib = {file = "lib/", editable = true}
python-dotenv = "*"
pyinstaller = "*"

[dev-packages]
pyinstaller = "*"

[scripts]
package = "./package.sh"

[requires]
python_version = "3.10"
