[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pandas = "*"
pyqtdarktheme = {ref = "main", git = "git+https://github.com/5yutan5/PyQtDarkTheme.git"}

[dev-packages]

[requires]
python_version = "3.10"
